*

!.gitignore
!.gitmodules
!AGENTS.md
!.gitconfig
!.vimrc
!README.md
!init.sh
!.agents/
!.agents/skills
!.claude/
!.claude/skills
!.dot/
!.dot/**
.dot/cache/
.dot/files/kubeconfig/*
!.dot/files/kubeconfig/.keep
!.bash_hooks
!.bash_profile
!.bashrc
!init.yaml
!pod.yaml
