*

!.gitignore
!AGENTS.md
!.gitconfig
!.vimrc
!.README.md
!.dotfiles
!.dotfiles.d/
.dotfiles.cache/
!.dotfiles_aliases
!.dotfiles_completion
!.dotfiles_functions
!.dotfiles_init
!.bash_hooks
!.bash_profile
!.bashrc
!pod.yaml
