<!DOCTYPE gui>
<gui translationDomain="kxmlgui5" name="dolphin" version="27">
 <MenuBar alreadyVisited="1">
  <Menu noMerge="1" alreadyVisited="1" name="file">
   <text translationDomain="kxmlgui5">&amp;File</text>
   <Action name="file_new"/>
   <Separator weakSeparator="1"/>
   <Action name="new_menu"/>
   <Action name="file_new"/>
   <Action name="new_tab"/>
   <Action name="file_close"/>
   <Action name="undo_close_tab"/>
   <Separator/>
   <Action name="add_to_places"/>
   <Separator/>
   <Action name="renamefile"/>
   <Action name="movetotrash"/>
   <Action name="deletefile"/>
   <Separator/>
   <Action name="show_target"/>
   <Separator/>
   <Action name="properties"/>
   <Separator weakSeparator="1"/>
   <Action name="file_close"/>
   <Separator weakSeparator="1"/>
   <Action name="file_quit"/>
  </Menu>
  <Menu noMerge="1" alreadyVisited="1" name="edit">
   <text translationDomain="kxmlgui5">&amp;Edit</text>
   <Action name="edit_undo"/>
   <Separator weakSeparator="1"/>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="edit_paste"/>
   <Separator weakSeparator="1"/>
   <Action name="edit_select_all"/>
   <Separator weakSeparator="1"/>
   <Action name="edit_find"/>
   <Separator weakSeparator="1"/>
   <Action name="edit_select_all"/>
   <Action name="invert_selection"/>
  </Menu>
  <Menu noMerge="1" alreadyVisited="1" name="view">
   <text translationDomain="kxmlgui5">&amp;View</text>
   <Action name="view_zoom_in"/>
   <Action name="view_zoom_out"/>
   <Separator weakSeparator="1"/>
   <Action name="view_redisplay"/>
   <Separator weakSeparator="1"/>
   <Action name="view_zoom_in"/>
   <Action name="view_zoom_reset"/>
   <Action name="view_zoom_out"/>
   <Separator/>
   <Action name="sort"/>
   <Action name="view_mode"/>
   <Action name="additional_info"/>
   <Action name="show_preview"/>
   <Action name="show_in_groups"/>
   <Action name="show_hidden_files"/>
   <Separator/>
   <Action name="split_view"/>
   <Action name="split_stash"/>
   <Action name="redisplay"/>
   <Action name="stop"/>
   <Separator/>
   <Action name="panels"/>
   <Menu noMerge="1" icon="edit-select-text" name="location_bar">
    <text translationDomain="dolphin" context="@title:menu">Location Bar</text>
    <Action name="editable_location"/>
    <Action name="replace_location"/>
   </Menu>
   <Separator/>
   <Action name="view_properties"/>
  </Menu>
  <Menu noMerge="1" alreadyVisited="1" name="go">
   <text translationDomain="kxmlgui5">&amp;Go</text>
   <Action name="go_up"/>
   <Action name="go_back"/>
   <Action name="go_forward"/>
   <Action name="go_home"/>
   <Separator weakSeparator="1"/>
   <Action name="bookmarks"/>
   <Action name="closed_tabs"/>
  </Menu>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Menu noMerge="1" alreadyVisited="1" name="tools">
   <text translationDomain="kxmlgui5">&amp;Tools</text>
   <Action name="show_filter_bar"/>
   <Action name="open_terminal"/>
   <Action name="compare_files"/>
   <Action name="change_remote_encoding"/>
  </Menu>
  <Menu noMerge="1" alreadyVisited="1" name="settings">
   <text translationDomain="kxmlgui5">&amp;Settings</text>
   <Action name="options_show_menubar"/>
   <Merge name="StandardToolBarMenuHandler"/>
   <Merge name="KMDIViewActions"/>
   <Separator weakSeparator="1"/>
   <Action name="options_configure_keybinding"/>
   <Action name="options_configure_toolbars"/>
   <Action name="options_configure"/>
  </Menu>
  <Separator weakSeparator="1"/>
  <Menu noMerge="1" alreadyVisited="1" name="help">
   <text translationDomain="kxmlgui5">&amp;Help</text>
   <Action name="help_contents"/>
   <Action name="help_whats_this"/>
   <Separator weakSeparator="1"/>
   <Action name="help_report_bug"/>
   <Separator weakSeparator="1"/>
   <Action name="help_donate"/>
   <Separator weakSeparator="1"/>
   <Action name="switch_application_language"/>
   <Separator weakSeparator="1"/>
   <Action name="help_about_app"/>
   <Action name="help_about_kde"/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" alreadyVisited="1" name="mainToolBar">
  <Action name="go_home"/>
  <Separator name="separator_0"/>
  <Action name="view_redisplay"/>
  <Action name="go_up"/>
  <Separator name="separator_1"/>
  <Action name="go_back"/>
  <Action name="go_forward"/>
  <Separator name="separator_2"/>
  <Action name="edit_select_all"/>
  <Action name="new_menu"/>
  <Separator name="separator_3"/>
  <Action name="renamefile"/>
  <Separator name="separator_4"/>
  <Action name="edit_copy"/>
  <Action name="edit_paste"/>
  <Action name="edit_cut"/>
  <Separator name="separator_5"/>
  <Separator name="separator_6"/>
  <Action name="movetotrash"/>
  <Action name="deletefile"/>
  <Separator name="separator_7"/>
  <Action name="edit_undo"/>
  <Separator name="separator_8"/>
  <Spacer name="spacer_0"/>
  <Action name="open_terminal"/>
  <Separator name="separator_9"/>
  <Action name="sort"/>
  <Action name="view_mode"/>
  <Separator name="separator_10"/>
  <Action name="new_tab"/>
  <Action name="file_new"/>
  <Action name="split_stash"/>
  <Separator name="separator_11"/>
  <Action name="compare_files"/>
  <Action name="edit_find"/>
  <Separator name="separator_12"/>
  <Action name="show_hidden_files"/>
  <Action name="show_information_panel"/>
  <Action name="show_preview"/>
  <Separator name="separator_13"/>
  <Action name="properties"/>
  <Separator name="separator_14"/>
  <text translationDomain="dolphin" context="@title:menu">Main Toolbar</text>
 </ToolBar>
 <State name="new_file">
  <disable>
   <Action name="edit_undo"/>
   <Action name="edit_redo"/>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="renamefile"/>
   <Action name="movetotrash"/>
   <Action name="deletefile"/>
   <Action name="invert_selection"/>
   <Separator/>
   <Action name="go_back"/>
   <Action name="go_forward"/>
  </disable>
 </State>
 <State name="has_selection">
  <enable>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="renamefile"/>
   <Action name="movetotrash"/>
   <Action name="deletefile"/>
   <Action name="invert_selection"/>
  </enable>
 </State>
 <State name="has_no_selection">
  <disable>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="renamefile"/>
   <Action name="movetotrash"/>
   <Action name="deletefile"/>
   <Action name="delete_shortcut"/>
   <Action name="invert_selection"/>
  </disable>
 </State>
 <ActionProperties scheme="Default">
  <Action priority="0" shortcut="Backspace; ; Backspace" name="go_back"/>
  <Action priority="0" shortcut="; " name="go_forward"/>
  <Action priority="0" shortcut="Ctrl+Shift+Z" name="go_up"/>
  <Action priority="0" shortcut="Ctrl+H; " name="go_home"/>
  <Action priority="0" shortcut="" name="stop"/>
  <Action priority="0" shortcut="" name="icons"/>
  <Action priority="0" shortcut="" name="compact"/>
  <Action priority="0" shortcut="" name="details"/>
  <Action priority="0" shortcut="; " name="view_zoom_in"/>
  <Action priority="0" shortcut="" name="view_zoom_reset"/>
  <Action priority="0" shortcut="" name="view_zoom_out"/>
  <Action priority="0" shortcut="Ctrl+Shift+X; " name="edit_cut"/>
  <Action priority="0" shortcut="Ctrl+Shift+C; " name="edit_copy"/>
  <Action priority="0" shortcut="Ctrl+Shift+V; " name="edit_paste"/>
  <Action priority="0" shortcut="" name="toggle_search"/>
  <Action shortcut="" name="activate_last_tab"/>
  <Action shortcut="Shift+Right; ; Ctrl+Tab" name="activate_next_tab"/>
  <Action shortcut="Shift+Left; ; Ctrl+Shift+Tab" name="activate_prev_tab"/>
  <Action shortcut="" name="activate_tab_0"/>
  <Action shortcut="" name="activate_tab_1"/>
  <Action shortcut="" name="activate_tab_2"/>
  <Action shortcut="" name="activate_tab_3"/>
  <Action shortcut="" name="activate_tab_4"/>
  <Action shortcut="" name="activate_tab_5"/>
  <Action shortcut="" name="activate_tab_6"/>
  <Action shortcut="" name="activate_tab_7"/>
  <Action shortcut="" name="activate_tab_8"/>
  <Action shortcut="" name="add_bookmark"/>
  <Action shortcut="" name="add_bookmarks_list"/>
  <Action shortcut="" name="add_to_places"/>
  <Action shortcut="" name="ascending"/>
  <Action shortcut="" name="compare_files" iconText="Compare"/>
  <Action shortcut="Ctrl+Shift+N" name="create_dir"/>
  <Action shortcut="" name="delete_shortcut"/>
  <Action shortcut="Ctrl+Shift+Del" name="deletefile"/>
  <Action shortcut="" name="descending"/>
  <Action shortcut="" name="edit_bookmarks"/>
  <Action shortcut="Ctrl+Shift+F" name="edit_find"/>
  <Action shortcut="" name="editable_location"/>
  <Action shortcut="Ctrl+Shift+A; " name="file_close"/>
  <Action shortcut="Ctrl+Shift+W" name="file_new"/>
  <Action shortcut="Ctrl+Shift+S" name="file_quit"/>
  <Action shortcut="" name="folders_first"/>
  <Action shortcut="" name="help_about_app"/>
  <Action shortcut="" name="help_about_kde"/>
  <Action shortcut="" name="help_contents"/>
  <Action shortcut="" name="help_donate"/>
  <Action shortcut="" name="help_report_bug"/>
  <Action shortcut="" name="help_whats_this"/>
  <Action shortcut="" name="invert_selection"/>
  <Action shortcut="" name="lock_panels"/>
  <Action shortcut="Ctrl+Shift+Q; " name="new_tab"/>
  <Action shortcut="" name="open_in_new_tab"/>
  <Action shortcut="" name="open_in_new_tabs"/>
  <Action shortcut="" name="open_in_new_window"/>
  <Action shortcut="Ctrl+Shift+E" name="open_terminal" iconText="Terminal"/>
  <Action shortcut="" name="options_configure"/>
  <Action shortcut="" name="options_configure_keybinding"/>
  <Action shortcut="" name="options_configure_toolbars"/>
  <Action shortcut="Ctrl+Shift+M" name="options_show_menubar"/>
  <Action shortcut="Ctrl+Shift+P; " name="properties"/>
  <Action shortcut="Ctrl+Shift+R" name="renamefile"/>
  <Action shortcut="" name="replace_location"/>
  <Action shortcut="" name="show_accesstime"/>
  <Action shortcut="" name="show_comment"/>
  <Action shortcut="" name="show_creationtime"/>
  <Action shortcut="; " name="show_filter_bar"/>
  <Action shortcut="" name="show_folders_panel"/>
  <Action shortcut="Ctrl+Shift+H; ; F8" name="show_hidden_files" iconText="Hidden"/>
  <Action shortcut="" name="show_in_groups"/>
  <Action shortcut="Ctrl+Shift+I" name="show_information_panel"/>
  <Action shortcut="" name="show_modificationtime"/>
  <Action shortcut="" name="show_places_panel"/>
  <Action shortcut="Ctrl+P" name="show_preview" iconText="Previews"/>
  <Action shortcut="" name="show_rating"/>
  <Action shortcut="" name="show_size"/>
  <Action shortcut="" name="show_tags"/>
  <Action shortcut="" name="show_target"/>
  <Action shortcut="" name="show_terminal_panel"/>
  <Action shortcut="" name="show_type"/>
  <Action shortcut="" name="sort_by_accesstime"/>
  <Action shortcut="" name="sort_by_comment"/>
  <Action shortcut="" name="sort_by_creationtime"/>
  <Action shortcut="" name="sort_by_modificationtime"/>
  <Action shortcut="" name="sort_by_rating"/>
  <Action shortcut="" name="sort_by_size"/>
  <Action shortcut="" name="sort_by_tags"/>
  <Action shortcut="" name="sort_by_text"/>
  <Action shortcut="" name="sort_by_type"/>
  <Action shortcut="" name="split_stash"/>
  <Action shortcut="Ctrl+Shift+D" name="split_view"/>
  <Action shortcut="" name="switch_application_language"/>
  <Action shortcut="" name="undo_close_tab"/>
  <Action shortcut="" name="view_mode"/>
  <Action shortcut="" name="view_properties"/>
  <Action shortcut="Ctrl+R; " name="view_redisplay"/>
  <Action name="movetotrash" iconText="Trash"/>
 </ActionProperties>
</gui>
